* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Raleway", sans-serif;
    transition: all 1ms;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

/* Header */

.header-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 7vh 1fr 3.5vh;
    grid-row-gap: 1px; 
}

.header-top {
    width: 100%;
    background-color: silver;
}

.header-bottom {
    width: 100%;
    background-color: silver;
}

.header-container .main-container {
    background-image: url("../images/Wall.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-row {
    width: 65%;
    height: 30vh;
    text-align: center;
}

.name {

    height: 90%;
    border: 15px solid white;
    background-color: #53AF9E;
    color: white;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 70%;
    height: 30%;
    background-color: white;
    color: #53AF9E;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(-60%);
}

/* Section: About*/
.about {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 3.5vh 1fr 3.5vh;
    grid-row-gap: 1px; 
}

.about-top {
    width: 100%;
    background-color: silver;
}

.about-bottom {
    width: 100%;
    background-color: silver;
}

.about-container {
    width: 100%;
    background-image: url("../images/Waterfall.jpg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.about-row {
    width: 50%;  
    height: 40%;
    text-align: center;
}

.greeting {
    width: 55%;
    height: 25%;
    background-color: white;
    color: #53AF9E;
    font-size: 23px;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}

.intro {
    width: 60%;
    height: 70%;
    background-color: #53AF9E;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro p {
    width: 75%;
}

/* Section: Expertise */
.expertise {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 3.5vh 1fr 3.5vh;
    grid-row-gap: 1px; 
}

.expertise-top {
    width: 100%;
    background-color: silver;
}

.expertise-container {
    height: 100%;
    background-color: #9ce4d7;
}
.expertise-bottom {
    width: 100%;
    background-color: silver;
}

.expertise-header {
    width: 100%;
    height: 22vh;
    background-color: white;
    color: #53AF9E;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expertise-row {
    height: 100%;
    display: flex;
    align-items: center;
}
.services {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    transform: translateY(-20%);
}

.personality-profiles,
.food-reviews,
.lifestyle-pieces {
    width: 22%;
    height: 80%;
}

.pp-col-1,
.fr-col-1,
.lp-col-1 {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.pp-col-1 img,
.fr-col-1 img,
.lp-col-1 img {
    width: 95%;
    height: 100%;
    border-radius: 50%;
}

.pp-col-2,
.fr-col-2,
.lp-col-2 {
    height: 60%;
}

.pp-col-2-header,
.fr-col-2-header,
.lp-col-2-header {
    width: 80%;
    height: 30%;
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #53AF9E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translateY(50%);
    transition: all 1ms;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

.pp-col-2-header:hover,
.fr-col-2-header:hover,
.lp-col-2-header:hover {
    color: #53AF9E;
    background-color: white;
    border: 2px solid #53AF9E ;
}

.pp-col-2-intro,
.fr-col-2-intro,
.lp-col-2-intro {
    width: 100%;
    height: 70%;
    background-color: white;
    color: #53AF9E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp-col-2-intro:hover,
.fr-col-2-intro:hover,
.lp-col-2-intro:hover {
    font-weight: 500;
    border: 2px solid #53AF9E;
}

.pp-col-2-intro p,
.fr-col-2-intro p,
.lp-col-2-intro p {
    width: 70%;
    text-align: center;
}

/* Section: Client-Testimonials*/
.client-testimonials {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 3.5vh 1fr 3.5vh;
    grid-row-gap: 1px; 
}

.testimonials-top {
    width: 100%;
    background-color: silver;
}
.testimonials-bottom {
    width: 100%;
    background-color: silver;
}

.testimonials-container {
    height: 100%;
}

.testimonials-header {
    width: 100%;
    height: 22vh;
    color: white;
    background-color: #53AF9E;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-row {
    height: 80%;
    display: flex;
    align-items: center;
    background-color: #9ce4d7;
}

.feedbacks {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    transform: translateY(-20%);
}

.rushton-media,
.beethoven-news,
.alwynia-media {
    width: 22%;
    height: 80%;
}

.rm-col-1,
.bn-col-1,
.am-col-1 {
    width: 55%;
    height: 65%;
    margin: 0 auto;
}

.rm-col-1 img,
.bn-col-1 img,
.am-col-1 img {
    width: 95%;
    height: 100%;
    border-radius: 50%;
}

.rm-col-2,
.bn-col-2,
.am-col-2 {
    height: 60%;
}

.rm-col-2-header,
.bn-col-2-header,
.am-col-2-header {
    width: 80%;
    height: 40%;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #53AF9E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translateY(50%);
    transition: all 1ms;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

.rm-col-2-header:hover,
.bn-col-2-header:hover,
.am-col-2-header:hover {
    color: #53AF9E;
    background-color: white;
    border: 2px solid #53AF9E;
    outline: none;
}

.rm-col-2-intro,
.bn-col-2-intro,
.am-col-2-intro {
    width: 100%;
    height: 90%;
    background-color: white;
    color: #53AF9E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rm-col-2-intro:hover,
.bn-col-2-intro:hover,
.am-col-2-intro:hover {
    border: 2px solid  #53AF9E;
}

.rm-col-2-intro p,
.bn-col-2-intro p,
.am-col-2-intro p {
    width: 80%;
    text-align: center;
    padding-top: 20px;
}

/* Footer */
footer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 3.5vh 1fr 7vh;
    grid-row-gap: 1px;     
}

.footer-top {
    width: 100%;
    background-color: silver;
}
.footer-bottom {
    width: 100%;
    background-color: silver;
}

.footer-container {
    background-image: url("../images/Camera.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row {
    width: 50%;
    height: 75%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.motto {
    border: 10px solid white;
    width: 70%;
    height: 20%;
    color: white;
    font-size: 26px;
    background-color: #53AF9E;
    display: flex; 
    justify-content: center; 
    align-items: center;
    transform: translateY(50%);
}

.contacts {
    width: 100%;
    height: 80%;
    background-color: white;
    color: #53AF9E;
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.contacts-col {
    height: 75%;
    margin-top: auto;
}

.contacts strong {
    font-weight: 800;
}

.contacts p {
    font-weight: 500;
}

.address,
.email,
.phone {
    height: 25%;
    line-height: 25px;
}

.address {
    margin-top: auto;
}

.phone {
    margin-bottom: auto;
}


@media (max-width: 1075px) {
    .header-row {
        width: 70%;
    }

    .name {
        height: 100%;
    }

    .about-container {
        background-size: 130% 100%;
    }

    .about-row {
        width: 70%;  
        height: 40%;
        text-align: center;
    }

    .intro p {
        font-size: 20px;
    }

    .personality-profiles,
    .food-reviews,
    .lifestyle-pieces {
        width: 26%;
        height: 80%;
    }

    .pp-col-1,
    .fr-col-1,
    .lp-col-1 {
        width: 75%;
        height: 50%;
    }

    .pp-col-2,
    .fr-col-2,
    .lp-col-2 {
        width: 100%;
    }

    .pp-col-2-header,
    .fr-col-2-header,
    .lp-col-2-header {
        font-size: 18px;
    }

    .pp-col-2-intro,
    .fr-col-2-intro,
    .lp-col-2-intro {
        font-size: 18px;
    }

    .rushton-media,
    .beethoven-news,
    .alwynia-media {
        width: 26%;
        height: 80%;
    }
    
    .rm-col-1,
    .bn-col-1,
    .am-col-1 {
        width: 75%;
        height: 65%;
        margin: 0 auto;
    }

    .motto {
        text-align: center;
        font-size: 20px;
    }

    .contacts {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .name h1 {
        font-size: 60px;
    }

    .info p {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .greeting {
        width: 55%;
        height: 30%;
        font-size: 20px;
        font-weight: 700;
    }

    .intro p {
        padding-top: 10%;
        font-size: 18px;
    }

    .pp-col-2-intro p,
    .fr-col-2-intro p,
    .lp-col-2-intro p {
        padding-top: 10%;
    }

    .rm-col-2-header,
    .bn-col-2-header,
    .am-col-2-header {
        font-size: 15px;
    }

    .rm-col-2-intro,
    .bn-col-2-intro,
    .am-col-2-intro {
        height: 120%;
        font-size: 15px;
    }

    .contacts {
        font-size: 16px;
    }
}

@media (max-width: 635px) {
    .name {
        height: 70%;
        border: 10px solid white;
    }

    .name h1 {
        font-size: 35px;
    }

    .info p {
        font-size: 14px;
        letter-spacing: 3px;
    }

    .about-container {
        background-size: 200% 100%;
        background-position: center;
    }

    .greeting {
        width: 60%;
        height: 18%;
        font-size: 12px;
    }

    .intro {
        width: 70%;
        height: 60%;
    }

    .intro p {
        padding-top: 18px;
        font-size: 12px;
    }

    .expertise-header {
        height: 16vh;
    }

    .services {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-30%); 
    }

    .personality-profiles,
    .food-reviews,
    .lifestyle-pieces {
        width: 42%;
        height: 120%;
        margin-top: 20px;
    }

    .pp-col-1,
    .fr-col-1,
    .lp-col-1 {
        width: 40%;
        height: 50%;
    }

    .pp-col-2,
    .fr-col-2,
    .lp-col-2 {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    .pp-col-2-header,
    .fr-col-2-header,
    .lp-col-2-header {
        height: 160%;
        font-size: 12px;
        text-align: center;
        transform: translateY(20%);
    }

    .pp-col-2-intro,
    .fr-col-2-intro,
    .lp-col-2-intro {
        height: 200%;
        font-size: 12px;
    }

    .pp-col-2-intro p,
    .fr-col-2-intro p,
    .lp-col-2-intro p {
        width: 90%;
        height: 70%;
        text-align: center;
        padding-top: 5%;
        margin-bottom: 5px;
    }

    .testimonials-header {
        height: 15vh;
        font-size: 20px;
    }

    .testimonials-row {
        height: 90%;
    }

    .feedbacks {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-32%); 
    }

    .rushton-media,
    .beethoven-news,
    .alwynia-media {
        width: 60%;
    }

    .rm-col-1,
    .bn-col-1,
    .am-col-1 {
        width: 35%;
        height: 38%;
    }

    .rm-col-2-header,
    .bn-col-2-header,
    .am-col-2-header {
        width: 70%;
        height: 25%;
        font-size: 12px;
        text-align: center;
        transform: translateY(15%);
    }

    .rm-col-2-intro,
    .bn-col-2-intro,
    .am-col-2-intro {
        height: 80%;
        font-size: 12px;
    }

    .rm-col-2-intro p,
    .bn-col-2-intro p,
    .am-col-2-intro p {
        padding-top: 5px;
        font-size: 12px;
    }

    .footer-row {
        width: 60%;
        height: 60%;
    }

    .motto {
        border: 7px solid white;
    }

    .motto h2 {
        font-size: 20px;
    }

    .contacts {
        font-size: 11px;
    }
}








